.App {
  font-family: 'M PLUS Rounded 1c', Arial, Helvetica, sans-serif;
  padding: 25px;
  color: #333;
}

.Loader-Container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}
